.nav-items {
  display: flex;
  flex-direction: row;
  gap: 22px;
  list-style: none;
}
.main header {
  display: flex;
  font-size: 100px;
  color: blue;
}
.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}
.services {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.service-boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service {
  background: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}
